.ShowReviews {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    width: 100%;
}

.ReviewButton {
    width: 150px;
    background-color: transparent;
    border: none;
}

.ReviewButtonImage {
    width: 100%;
}

.Review {
    width: 600px;
    border-radius: 16px;
    box-shadow: 3px 3px 3px style.$grey;
    background-color: white;
}

.ReviewText {
    font-weight: bold;
    font-size: 30px;
}

.ReviewAuthor {
    font-size: 20px;
    font-style: italic;
}