@use "Style" as style;
@import "./Components/Styles/Bar.scss";
@import "./Components/Styles/Button.scss";
@import "./Components/Styles/Reviews.scss";
@import "./Components/Styles/Covers.scss";

.expandWidth {
    margin: 0;
    padding: 0;
}

.TurnersLogo {
    position: absolute;
    height: 100px;
}

.Header {
    @extend .expandWidth;
}

.Background {
    @extend .expandWidth;
    position: relative;
    width: 100%;
    height: 1100px;
    background: url('./Images/header_bg.jpg') no-repeat bottom center;
    background-size: cover;
    background-position: center;
}

.Reviews {
    background-color: style.$blue-light;
    min-height: 500px;
    width: 100%;
}

.ReviewsHeaderText {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}

.CoversHeader {
    width: 100%;
    text-align: center;
}

.CoversHeaderText {
    font-weight: bold;
    font-size: 52px;
    color: style.$blue;
    margin-bottom: 0;
}

.CoversHeaderCompareText {
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
}

.Covers {
    position: relative;
}

.CoversBackground {
    background-color: style.$grey-light;
    padding: 5%;
    overflow: scroll;
}

.PolicyText {
    float: right;
    width: 25%;
    color: style.$grey
}